* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: yantramanav;
}
.body {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #f5d131;
  height: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  text-transform: uppercase;
  color: #fff;
}
h6 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.mouse-click {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#about_us {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.col h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.col p {
  font-size: 18px;
}

.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: auto;
  background-color: #f5d131;
  height: 77vh;
  overflow-x: hidden;
  text-align: center;
  padding-top: 10rem;
}

.services span {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.services p {
  color: #fff;
  font-size: 18px;
}

.what {
  text-align: center;
  margin-top: 3rem;
}

.what span {
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}

#icons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.design {
  margin: 1rem;
}
.dev {
  margin: 1rem;
}
.product {
  margin: 1rem;
}

#description-design {
  display: none;
}

#description-dev {
  display: none;
}

#description-product {
  display: none;
}
