* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: yantramanav;
}
.body {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #f5d131;
  height: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  text-transform: uppercase;
  color: #fff;
}
h6 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.mouse-click {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

#about_us {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.col h2 {
  text-transform: uppercase;
  font-weight: 500;
}

.col p {
  font-size: 18px;
}

.services {
  background-image: url(../assets/backgrounds/s_image.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #302d2d;
  height: 100%;
  text-align: center;
  padding-top: 10rem;
}

.services span {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
}

.services p {
  color: #fff;
  font-size: 18px;
}

.what {
  text-align: center;
  margin-top: 3rem;
}

.what span {
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}

#icons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.design {
  margin: 1rem;
  cursor: pointer;
}
.dev {
  margin: 1rem;
  cursor: pointer;
}
.product {
  margin: 1rem;
  cursor: pointer;
}

#description-design {
  display: none;
}

#description-dev {
  display: none;
}

#description-product {
  display: none;
}

#portfolio {
  margin-top: 4rem;
  text-align: center;
}

#portfolio span {
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
}

#ports {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.porti {
  margin: 1rem;
  height: 14rem;
  width: 15rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  opacity: 0.7;
  text-align: center;
  padding-top: 60px;
  background-color: #ffffff;
  width: 15.2rem;
  height: 14rem;
  display: none;
  margin: 1rem;
  cursor: pointer;
  transition: 0.3sec all ease;
}

.overlay.title {
  font-size: 5px;
  font-weight: bold;
}

.whiteBox {
  background-color: #fff;
  color: #434343;
  position: absolute;
  margin-bottom: 15rem;
  z-index: 1;
  opacity: 2;
}

#contacts {
  background-image: url(../assets/backgrounds/c_image.jpg);
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-color: #f5d131;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials {
  margin: 10px;
}

@media screen and (max-width: 760px) {
  .socials {
    height: 21px;
    width: 21px;
  }
}

.footer {
  text-align: center;
  text-transform: uppercase;
}

.contactUs {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 3rem;
}

form {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

.form-group {
  color: #fff;
  text-decoration: #fff;
}

.input-group {
  color: #fff;
  text-decoration: #fff;
  margin-bottom: 2%;
}

#yourName {
  color: #fff;
}

.input-group::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: red;
}
