* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../assets/backgrounds/h_img.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f5d131;
  max-height: 100%;
  overflow: hidden;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
}

h1 {
  text-align: center;
}
h5 {
  text-align: center;
}

.mouse-click {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18%;
}
